/* Définition des polices personnalisées */
body{
	background-color: lightgray;
	font-family: 'Raleway', 'sans-serif';
	margin:0px;
	padding:0px;
}
/* Eléments principaux de la page */
.container{
	width: 80%;
	margin: auto;
}
.logo{
	display: flex;
	width: 55px;
	height: 40px;
	top: 30%;
	float: left;
	margin: 10px;
	padding: 10px;
}

h3{
	font-style: bold;
}
h4{
	font-style: normal;
	display: inline-block;
}
/* Header */
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-decoration: none;
}
li{
	display: inline;
	text-decoration: none;
}
#map {
	border: solid 2px #F2F2F2;
	border-radius: 50px;
	background-color: #F2F2F2;
	border-width: 5px;
	border-right: hidden;
	margin-right: -0.5em;
}
#search{
	background-color: #0065FC;
	color: white;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	width: 90px;
	height: 30px;
	margin-left: -2em;
	text-align: center;
	text-decoration: none;
}
input {
	border: hidden;
	margin-left: 10px;
}
/* Navigation */
nav{
  	position: fixed;
  	top: 30px;
  	width: 100%;
  	left: 75%;
  	text-decoration: none;
  	float: right;
}
nav ul{
	margin: 0;
	padding: 0;
}
nav li{
	display: inline-block;
	margin-left: 60px;
	padding-top: 10px;
}
}
.normal {
	color: #0065FC;
	text-decoration: none;
	list-style-type: none;
	font-style: normal;
}
.black {
	color: black;
	list-style-type: none;
	text-decoration: none;

}
.bold {
	color: #0065FC;
	font-style: bold;
	list-style-type: none;
	text-decoration: none;
}
/* Corps */

/* Sections */
section{
	background-color: #F2F2F2;
}
aside{
	background-color: #F2F2F2;
}
/* Footer */
footer{
	display: flex;
	background-color: #F2F2F2;
	padding-top: 25px;
}