/* DÉFINITON DES POLICES PERSONNALISÉES */
body,html{
	/*background-color: #CCCCFF;*/
	font-family: 'Raleway', 'sans-serif';
	margin:0;
	padding:0;
}
/* ÉLÉMENTS PRINCIPAUX DE LA PAGE */
#conteneur{
	width: 900px;
	margin: auto;
}
/*nav*/
#logo-nav{
	display: flex;
	justify-content: space-between;
}
#logo{
	width: 65px;
	height: 40px;
}
li{
  	font-size: 14px;
  	list-style-type: none;
  	display: inline-block;
	margin-left: 30px;
}
a{
	text-decoration: none;
	display: flex;
	flex-wrap: wrap;
}
a:hover{
	background-color: #DEEBFF;
	transition: 0.2s;
	border-radius: 20px;
}
.icon-text:hover{
	color: #0065FC;
}
#normal{
	border-top: solid 2px #0065FC;
  	padding-top: 25px;
  	color: #0065FC;
}
#black{
	color: #000;
}
#bold{
	font-weight: bold;
	color: #0065FC;
}
h2{
	font-weight: bold;
}
/*HEADER*/
h4{
	font-size: 12px;
	font-weight: normal;
}
input{
	outline: none;
	border: none;
	color: black;
}
/*::placeholder{
	color: black;
}
::-webkit-input-placeholder{
	color: black;
}
:-ms-input-placeholder{
	color: black;
}
::-moz-placeholder{
	color: black;
	opacity: 1;
}*/
#search-box{
	position: absolute;
	display: inline-block;
	background-color: white;
	height: 25px;
	border-radius: 15px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}
#map{
	background-color: #F2F2F2;
	margin: 5px 5px 5px 8px;
	padding: 0 2px 2px 2px;
}
#search{
	color: white;
	text-align: center;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	background-color: #0065FC;
	padding: 5px 5px 5px 5px;
}
#nav-icon{
	display: inline-block;
	padding-top: 40px;
	margin-left: -5em; 
	text-align: center;
	cursor: crosshair;
}
.li-icon{
	background-color: #DEEBFF;
	border-radius: 50%;
	padding: 8px 8px 8px 8px;
	margin-right: -0.5em;
	color: #0065FC;
}
.icon-text{
	font-size: 12px;
	border: solid 1px lightgray;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	color: #000;
	padding: 8px 13px 6px 13px;
	border-left: hidden;
	font-weight: bold;
}
#filtre{
	color: black;
	font-weight: bold;
	margin-right: 30px;
	margin-left: 10px;
}
#info{
	color: #0065FC;
	font-size: 11px;
	border: solid 1px lightgray;
	border-radius: 50%;
	padding: 4px 6px 4px 6px;
	font-size: 8px;
	margin-right: 8px;
}
/*SECTION*/
section{
	display: flex;
}
.euro{
	font-weight: bold;
}
.star{
	color: #0065FC;
}
.grey-star{
	color: lightgrey;
}
h5{
	font-weight: bold;
}
h6{
	font-weight: normal;
}
#one{
	background-color: #F2F2F2;
	display: inline-block;
}
.row{
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
figure{
	border: solid 4px red;/*à enlever*/
	border-radius: 20px;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 10px;
	background-color: #FFF;
	margin: 10px;
	width: 210px;
	height: auto;
}
img{
	width: 100%;
	height: 150px;
}
figcaption{
	border: solid 4px yellow;
	border-radius: 20px;
	background-color: #FFF;
}
.bold{
	font-weight: bold;
	font-size: 14px;
}
/*ASIDE*/
aside{
	background-color: lightgreen;/*#F2F2F2;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
}
/*SECTION2*/
/*footer*/
footer{
	display: flex;
	background-color: #F2F2F2;
	padding-top: 25px;
	font-size: 15px;
	font-weight: bold;
	justify-content: space-around;
}
#propos{
	font-size: 12px;
	font-weight: lighter;
}
#hebergement{
	font-size: 12px;
	font-weight: lighter;
}
#assistance{
	font-size: 12px;
	font-weight: lighter;
}
/*MEDIA QUERIES*/
