			/* Définition des polices personnalisées */

body,html{
	background-color: gray;
	font-family: 'Raleway', 'sans-serif';
	margin:0;
	padding:0;
}
#blocpage{
	width: 900px;
	margin: 0;
}
			/* Eléments principaux de la page */
.container{
	width: 80%;
	margin: auto;
	display: flex;
}
.logo{
	width: 60px;
	height: 35px;
	top: 30%;
	float: left;
	margin: 10px;
	padding: 0;
}
h3{
	font-weight: bold;
}
h4{
	font-style: normal;
	display: inline-block;
}
			/* Header */
header{
	justify-content: space-between;
	display: flex;
	width: 100%;
	height: 70px;
}
#filtre{
	color: black;
	display: inline;
	margin-right: 30px;
	margin-top: 20px;
}
i{
	color: #0065FC;
	background-color: #DEEBFF;
	border: none;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 20px;
}
#info{
	display: block;
}
ul{
	list-style-type: none;
	margin-top: 0px;
	padding: 0;
	display: inline-block;
	padding-top: 20px;
}
li{
	display: inline;
	color: #0065FC;
}
a{
	text-decoration: none;
}
a:hover{
	background-color: #DEEBFF;
	transition: 0.2s;
}
input{
	position: relative;
	padding: 6px;
	border: none white;
	size: 10px;
	color: black;
	background-color: #F2F2F2;
}
::placeholder{
	color: black;
}
::-webkit-input-placeholder{
	color: black;
}
:-ms-input-placeholder{
	color: black;
}
::-moz-placeholder{
	color: black;
	opacity: 1;
}
#map{
	border: solid 1px #F2F2F2;
	background-color: #F2F2F2;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-width: 5px;
	padding: 1px;
}
#search{
	background-color: #0065FC;
	color: white;
	border: none;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	width: 100px;
	padding: 8px;
	margin: -1em;
	text-align: center;
	text-decoration: none;
}
			/* Navigation */
nav{
  	position: fixed;
  	left: 75%;
  	text-decoration: none;
  	list-style-type: none;
  	float: right; 
}
nav ul{
	margin: 6px;
	padding: 8px;
	top: 30px;
}
nav li{
	display: inline-block;
	margin-left: 60px;
	padding-top: 10px;
}
.normal {
	color: #0065FC;
	font-weight: normal;
	border-top: solid 1.5px #0065FC;
	padding-top: 20px;
}
.black {
	color: black;
}
.bold {
	color: #0065FC;
	font-weight: bold;
}
			/* Corps */

			/* Sections */

			/* Footer */
footer{
	display: flex;
	background-color: #F2F2F2;
	padding-top: 25px;
}