/* DÉFINITON DES POLICES PERSONNALISÉES */
body,html{
	font-family: 'Raleway', 'sans-serif';
	margin: 0;
	padding: 0;
}
/* ÉLÉMENTS PRINCIPAUX DE LA PAGE */
/*propriétés en commun*/
a,
#logo-menu,
#nav-links,
#hotel-and-popular,
.hotel-pictures,
#popular,
#title-chart,
.text-aside,
#activities,footer{
	display: flex;
}
a,
input,
#black,
::placeholder,
#filter,
#map{
	color: black;
}
#normal,
#bold,
.filter-icon,
.filter-text:hover,
#info,
.star,
.star-aside{
	color: #0065FC;
}
#bold,
h2,
::placeholder,
#filter,
.filter-text,
.hotel-name,
.hotel-name-aside,
.euro,
.activity-name,
footer{
	font-weight: bold;
}
li,
.hotel-name,
.hotel-name-aside,
.activity-name,
footer{
	font-size: 14px;
}
a{
	text-decoration: none;
	cursor: pointer;
}
li{
	list-style-type: none;
	display: inline-flex;
	margin: 10px;
}
.top-line{
	padding-top: 30px;
	margin-top: 0;
}
.line{
	border-top: solid 2px #0065FC;
}
#logo-menu,
#nav-links,
#hotel-and-popular,
.hotel-pictures,
#popular,
#activities,
footer{
	flex-wrap: wrap;
}
#logo-menu{
	justify-content: space-between;
	align-items: center;
}
#logo{
	width: 80px;
	height: 40px;
}
#normal{
  	padding: 0 15px 15px;
}
h2{
	font-size: 18px;
}
h4{
	font-size: 12px;
	font-weight: normal;
}
#anchor1,#anchor2{
	margin-left: 40px;
}
input{
	outline: none;
	border: none;
	height: 30px;
	font-family: 'Raleway', 'sans-serif';
}
form{
	margin-left: 10px;
}
ul{
	padding: 0;
	margin: 0;
}
#search-box{
	background-color: white;
	height: 32px;
	display: flex;
	border-radius: 10px;
}
#map{
	background-color: #F2F2F2;
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding: 0px 0px 0px 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#search-button{
	color: white;
	text-align: center;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #0065FC;
}
::placeholder{
	opacity: 1;
}
#filter{
	display: inline-block;
	margin-right: 10px;
	text-align: left;
}
.filter-icon{
	background-color: #DEEBFF;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    padding: 5px;  
}
.filter-text{
	font-size: 12px;
	border: solid 1px lightgray;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	color: #000;
	text-align: center;
	padding: 12px 14px 0 25px;
	margin-left: -1.5em;
	border-left: hidden;
}
#info{
	border: solid 1px lightgray;
	border-radius: 50%;
	padding: 4px 6px 4px 6px;
	font-size: 8px;
	margin-right: 5px;
}
#info-text{
	font-size: 13px;
	font-weight: lighter;
}
.icon:hover{
	box-shadow: 0 0 8px 5px #DEEBFF;
	transition: 0.2s;
	border-radius: 20px;
	border: none;
}
/*SECTION*/
#hotel-and-popular{
	justify-content: space-around;
}
#hotel-room{
	background-color: #F2F2F2;
	border-radius: 30px;
}
.hotel-pictures{
	justify-content: center;
}
#see-more{
	display: block;
	margin: 25px;
}
.hotel-price,.hotel-price-aside{
	font-size: 12px;
	font-weight: lighter;
}
.grey-star,.grey-star-aside{
	color: lightgrey;
}
.hotel-room1{
	object-position: center;
}
.hotel-room1,.hotel-room2,.hotel-room3,.hotel-room4,.hotel-room5,.hotel-room6{
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;
	object-fit: cover;
	width: 100%;
}
figure{
	border: solid 5px white;
	border-radius: 30px;
	background-color: #FFF;
	width: 325px;
	height: max-content;
	box-shadow: 0px 0px 10px 5px lightgray;
	margin-left: 20px;
	margin-right: 20px;
}
figcaption{
	margin-left: 15px;
}
img{
	width: 100%;
	height: 160px;
}
/*ASIDE*/
#popular{
	flex-direction: column;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}
aside{
	background-color: #F2F2F2;
	border-radius: 30px;
}
.stars-aside{
	padding-top: 40px;
}
#title-chart{
	justify-content: space-between;
	margin: 20px;
}
.text-aside{
	flex-wrap: nowrap;
}
.popular-room1,.popular-room2,.popular-room3{
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	width: 180px
}
.popular-room1,.popular-room2{
	object-fit: cover;
	object-position: right;
}
.popular-room3{
	object-fit: cover;
	object-position: center;
}
/*section 2*/
#activities{
	flex-direction: row;
	justify-content: space-evenly;
}
.legend-activity{
	border: none;
	height: max-content;
	width: 410px;
}
#activity-2-3, #activity-5-6{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 
}
.activity1, .activity4{
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	width: 100%;
	height: 560px;
	object-fit: cover;
}
.activity2, .activity3,.activity5,.activity6{
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	width: 100%;
	height: 230px;
	object-fit: cover;
}
.activity3,.activity4,.activity5{
	object-position: top;
}
/*footer*/
footer{
	background-color: #F2F2F2;
	padding-top: 25px;
	height: 200px;
	justify-content: space-around;
}
#propos, #hebergement, #assistance{
	font-size: 12px;
	font-weight: lighter;
}
/* MEDIA QUERIES*/
/*smartphones*/
@media only screen and (min-width:320px) and (max-width:480px){
	h2{
		font-size: 18px;
		width: 80%;
	}
	#logo-menu{
		justify-content: flex-start;
		max-width: 320px;
	}
	#search-box{
	justify-content: center;
	}
	.line{
		border-top: none;
		border-bottom: solid 2px #0065FC;
	}
	#bold{
		position: absolute;
		top: 15px;
		right: 30px;
	}
	#nav-links{
	 justify-content: space-between;
	 margin: 0;
	}
	#filter-links{
		width: 80%;
		display: flex;
	}
	#black{
		margin-left: 55px;
	}
	#filter{
		display: flex;
	}
	#info-text{
		width: 70%;
    	display: inline-flex;
	}
	#search-button{
		display: none;
	}
	#button::after{
		content: " \f002";
		font-family: "Font Awesome 5 Free";
		font-weight: 900;
		width: 30px;
	    height: 30px;
	    line-height: 30px;
		color: white;
		text-align: center;
		padding: 7px;
		background-color: #0065FC;
		border-radius: 9px;
	}
	#anchor1{
		margin-left: 0;
	}

	#hotel-and-popular{
		flex-wrap: wrap-reverse;
	}
	aside{
		width: 100%;
		background-color: #F2F2F2;
	}
	figure{
		width: 315px;
		border: none;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-right: 0;
		margin-left: 0;
	}
	a{
		justify-content: center;
	}
	.rooms{
		height: 220px;
	}
	.legend-activity{
		width: 315px;
		height: 160px;
	}
	#see-more{
		font-size: 15px;
		display: flex;
	}
	#title-chart{
		justify-content: space-around;
		font-size: 18px;
	}
	#anchor1,#anchor2{
		font-size: 18px;
	}
	#text-aside{
		width: 315px;
	}
	.stars-aside{
		padding-top: 40px;
	}
	.hotel-pictures{
		flex-direction: column;
	}
	#hotel-room{
		background-color: white;
	}
	.hotel-room1,
	.hotel-room2,
	.hotel-room3,
	.hotel-room4,
	.hotel-room5,
	.hotel-room6{
		height: 120px;
	}
	.hotel-room1,
	.hotel-room2,
	.hotel-room3,
	.hotel-room4,
	.hotel-room5,
	.hotel-room6,
	.activity1,
	.activity4,
	.activity1,
	.activity2,
	.activity3,
	.activity4,
	.activity5,
	.activity6,
	.rooms,
	.legend-activity{
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	}
	.activity1,.activity2,.activity3,.activity4,.activity5,.activity6{
		width: 100%;
    	height: 120px;
	}
	.popular-room1,.popular-room2,.popular-room3{
		height: 160px;
	}
	#propos, #hebergement, #assistance{
		padding-top: 15px;
	}
	footer{
		display: block;
		background-color: #F2F2F2;
		padding: 20px 20px;
		flex-direction: column;
		height: auto;
	}
}
/*tablette*/
@media only screen and (min-width: 768px) and (max-width: 1024px){
	body{
		background-color: white;
	}
	h2,h3{
		color: #0065FC;
	}
	#info-text{
		font-size: 15px
	}
	#popular{
		flex-direction: row;
		border-radius: 20px;
		flex-wrap: nowrap;
	}
	#title-chart{
		justify-content: space-around;
	}
	.text-aside{
		display: inline-block;
		max-width: 190px;
		margin-left: 30px;
	}
	.stars-aside{
		padding-top: 0;
	}
	.popular-room1,.popular-room2,.popular-room3{
		border-radius: 20px;
	}
	.activity1,.activity2,.activity3,.activity4,.activity5,.activity6{
		border-top-right-radius: 20px;
		height: 200px;
		object-fit: cover;
		object-position: center;
	}
	#hotel-room,.popular-room1,.popular-room2,.popular-room3{
		width: 100%;
	}
	#hotel-and-popular{
		justify-content: flex-start;
	}
	.hotel-pictures{
		display: table-cell;
	}
	#see-more{
		margin-left: 35px;
	}
	.legend-activity{
		width: 100%;
	}
	#activities{
		height: auto;
		display: contents;
		flex-wrap: wrap;
	}
	.activity-name{
		text-align: center;
	}
	figure{
		width: 300px;
		margin: 30px;
	}

}